html {
  font-size: 100%;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

.main-block {
  margin: 0px 30px 80px 30px;
  border-radius: 15px;
  border-style: solid;
  border-width: 8px;
  border-color: #FF7A00;
}

.donation {
  background-color: #775144;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; /* Start hidden */
  transition: opacity 1s ease-in-out 1s; /* 1s delay before transition */
}

  .donation.show {
    opacity: 1; /* Make visible */
  }

  .donation p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 5px;
    font-family: "Mulish", system-ui;
    font-weight: 500;
    font-style: normal;
  }


  .donation a {
    text-decoration: none;
    color: #FAF5EC;
  }

  .navbar {
    background-color: #775144;
    display: flex;
    justify-content: flex-start;
  }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 20;
      overflow: hidden;
      background-color: #FF7A00;
    }
  
    li {
      float: left;
    }
  
    li a {
      display: block;
      color: #FAF5EC;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      font-family: "Mulish", system-ui;
      font-weight: 400;
      font-style: normal;
    }
  
    li a:hover {
      background-color: #47291f;
      color: #FAF5EC;
    }
  
  
  /*.cta {
      background-color: #775144; 
      border: none;
      color: #FAF5EC;
      margin: 10vh;
      padding: 20px 40px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
  }*/
  
      /*.cta:hover {
          background-color: #47291f; 
          color: #FAF5EC;
      }*/
  
  .footer {
    background-color: #faf5ec;
    padding: 10px 50px 10px 50px;
    width: 100%;
    position:fixed;
    bottom:0;
    left:0;
  }
  
      .footer div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
      }


.tracker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}


@media (max-width: 800px) {
  .tracker {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    margin: auto;
  }
}


    .folds-outer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 30px;
      max-width: 500px;
      min-width: 470px;
    }

    @media (max-width: 800px) {
      .folds-outer {
        /*padding-top: 20px;*/
        padding-bottom: 20px;
        max-width: 450px;
        min-width: 250px;
      }
    }


    .time-outer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 30px;
      max-width: 500px;
      min-width: 470px;
    }

    @media (max-width: 800px) {
      .time-outer {
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 450px;
        min-width: 250px;
      }
    }

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3vw;
  text-align: center;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FF7A00;
  }

h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 10px;
  text-align: center;
  font-family: "Mulish", system-ui;
  font-weight: 600;
  font-style: normal;
  color: #775144;
  margin-top: 5vh;
  margin-bottom: 5vh;
  }

    
      .tracker h3 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /*padding: 50px;*/
        text-align: center;
        font-family: "Mulish", system-ui;
        font-weight: 600;
        font-style: normal;
        color: #775144;
        /*font-size: 3vw;*/
      }

      .set-time h3 {
        color: #FAF5EC;
      }
    

      @media (max-width: 800px) {
        .tracker span {
          font-size: 7vh;
        }
      }
  
    
      .folds {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5vh;
        border-radius: 25px;
        border-style: solid;
        border-width: 8px;
        border-color: #faf5ec00;
      }

      .folds span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px;
        color: #FF7A00;
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
        /*font-optical-sizing: auto;*/
        font-size: 10vh;
      }
    
      .current-time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5vh;
        border-radius: 25px;
        /*outline-style: solid;
        outline-width: 8px;
        outline-color: #75A3E1;*/
        border-style: solid;
        border-width: 8px;
        border-color: #75A3E1;
        
      }

      .current-time span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px;
        color: #FF7A00;
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
        /*font-optical-sizing: auto;*/
        font-size: 10vh;
      }

      .set-time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5vh;
        border-radius: 25px;
        /*outline-style: solid;
        outline-width: 8px;
        outline-color: #75A3E1;*/
        border-style: solid;
        border-width: 8px;
        border-color: #75A3E1;
        background-color: #75A3E1;
        
      }

      .set-time span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 33px;
      }
    
.tracker-name-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.iconButton {
  border-radius: 12px;
  background-color: #faf5ec00;
  padding: 5px 10px 10px 10px;
  border: hidden;
  color: #775144;
}

  .iconButton:hover {
    background-color: #e6e1d9;
  }

.nav-tabs {
  border: none;
}
.nav-tabs .nav-link {
  border: none;
  
}

  .nav-tabs .nav-link.active {
    background-color: #FAF5EC;
  }

  .nav-item {
    display: flex;
    align-items: stretch;
    text-align: center;
    font-family: "Mulish", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: large;
    letter-spacing: 0.5px;
    color: #FAF5EC;
    border: none;
  }

  .nav-link {
    background-color: #FAF5EC;
    font-family: "Mulish", system-ui;
    font-weight: 500;
    font-style: normal;
    color: #FAF5EC;
    border: none;
  }

  .nav-link:hover {
    background-color: #EB631B;
    color: #FAF5EC;
    border: none;
  }

.reset {
  border-radius: 50px;
  background-color: #75A3E1;
  padding: 10px;
  border: hidden;
  text-align: center;
  font-family: "Mulish", system-ui;
  font-weight: 1000;
  font-style: normal;
  font-size: larger;
  color: #FAF5EC;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

  .reset:hover {
    background-color: #588acc;
    color: #FAF5EC;
  }


.perform {
  border-radius: 50px;
  background-color: #FF7A00;
  padding: 10px;
  border: hidden;
  text-align: center;
  font-family: "Mulish", system-ui;
  font-weight: 1000;
  font-style: normal;
  font-size: larger;
  color: #FAF5EC;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

  .perform:hover {
    background-color: #EB631B;
  }


.privacy-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px;
}

p {
  color: #775144;
  font-family: "Mulish", system-ui;
  font-weight: 400;
  font-style: normal;
}


input[type="number"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FF7A00;
  padding: 2vh; 
  font-size: 10vh;
  border-radius: 70px;
  border: none;
  text-align: center;
  outline: none;
  line-height: 100px;
  width: 70%; 
}

input[type="number"]::placeholder { 
  text-align-last: center;
  font-family: "Mulish", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: 3vh;
  color: #775144;
  border: none;
  outline: none;
  transform: translateY(-20px);
}
